.menu {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}    
.menu a {
    height: 27px;
    width: 68px;
    left: 0px;
    top: -6px;
    border-radius: nullpx;
    text-decoration: none;
    color: #FF0000;
}
.menu li {
    display: inline;
}
.foto {
    height: 789px;
    width: 1280px;
    left: 0px;
    top: 78px;
    border-radius: 0px;
}
.name {
    height: 29px;
    width: 774px;
    left: 253px;
    top: 48px;
    border-radius: nullpx;
}
.text {
    height: 132px;
    width: 1145px;
    left: 67.5px;
    top: 115px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
}
.started {
    height: 16px;
    width: 105px;
    left: 587px;
    top: 575px;
    border-radius: nullpx;
    background: #FF0000;
    color: #fff;
    border: none;
   
}
.private {
    height: 39px;
    width: 462px;
    left: 608px;
    top: 0px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    text-align: left;
}
 